
<%- include('partials/header') %>
<h1>Create a new dog:<h1>
<form action="/createDog" method=POST>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="starts" placeholder="Starts">
    <input type="text" name="stakes" placeholder="Stakes">
    <input type="text" name="firsts" placeholder="Firsts">
    <input type="text" name="seconds" placeholder="Seconds">
    <input type="text" name="thirds" placeholder="Seconds">
    <input type="submit" value="SUBMIT">
</form>

<%- include('partials/footer') %>