.containerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.logo {
    height:auto;
    width: 30%;
}

table {
    font-size: 0.8rem;
}

.NZTime {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 0;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(134, 194, 134);
    color:rgb(221, 70, 70);
    height: auto;
    width: auto;
    font-family: 'Racing Sans One', cursive;
}

.bannerHeading {
    margin-bottom: 15px; 
    font-size: 3.5rem
} 

.bannerSubHeading {
    margin: 15px 0; 
    font-size: 5rem,
}

.bannerSubHeading {
    font-size: 2.5rem;
}

.boysdogsList {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

  @media screen and (max-width: 550px) {
    .bannerSubHeading {
        font-size: 1.7rem;
    }
    .bannerHeading {
        font-size: 2.5rem;
    }
  }

  @media screen and (max-width: 820px) {
    .graphGroups {
      flex-direction: column;
      align-items: center;
      width: 400px
    }
    .boysdogsList {
        flex-wrap: wrap;
      }
      .dogsContainer {
      width: auto;
      margin: 0 2%;
      }
      .dataSummary {
        max-width: 600px;
      }
      .boysList {
        display:flex;
        min-width: 50%;
        margin-left: 0;
        align-items:center;
        }
  }

.boysList {
    display:flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.dogsContainer {
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    flex-wrap: wrap;
    margin-left: 20px
}

.updatedDate {
    color: grey;
    size: 0.8rem;
    margin: 0 0
}

.rule {
    width: 90%;
    border: 1px solid lightgrey;
    margin: 10px 0
}

.dataSummaryHeading {
    justify-content: center;
    margin-bottom: 20px;
    color: steelblue
}

.dataSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* max-width: 600px; */
}

.stakesInfo {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 0;
}

.stakesInfoText {
    font-size: 1.3rem;
}

/* @media (max-width: 385px) {
    .stakesInfo {
    font-size: 0.9rem;
    }
} */

.graphPie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
}


.graphGroups {
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.graphGroupPie {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.graph {
    display: flex;
    flex-direction: column;
}


.allGraphs {
    display: flex;
    flex-wrap: wrap;
}

 .graphSectionHead {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     width: 100%;
     color: steelblue;
     margin-left: 20px;
 }

 .graphSectionHeadPie {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%; 
    color: steelblue;
    margin-left: 20px;  
}

.graphSubSectionHead {
    margin-left: 20px;
}

#chart1 {
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

#chart2 {
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

#chart3 {
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
#chart4 {
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

#chart5 {
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
#chart6 {
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}


#chart1 .ct-series-a .ct-bar {
    stroke: rgb(134, 194, 134);
    stroke-width: 30px;
}

#chart2 .ct-series-a .ct-bar {
    stroke: rgb(134, 194, 134);
    stroke-width: 30px;
}

#chart3 .ct-series-a .ct-bar {
    stroke: rgb(134, 194, 134);
    stroke-width: 30px;
}

#chart4 .ct-series-a .ct-bar {
    stroke: rgb(134, 194, 134);
    stroke-width: 30px;
}

#chart5 .ct-series-a .ct-bar {
    stroke: rgb(134, 194, 134);
    stroke-width: 30px;
}

#chart6 .ct-series-a .ct-bar {
    stroke: rgb(134, 194, 134);
    stroke-width: 30px;
}

.adminHomeContainer {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top:10%
}

.submitButton{
    background-color: black;
    margin-top: 15px;
    width: 100px;
    color:white;
    height: 2rem
}

.updateForm {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 5%;
}

.createForm {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 5%;
}